body {
    background-image: url(background\(pixel\).png);
    font-family: 'Carter One', cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

div.logo {
    margin-top: 20px;
    text-align: center;
}

#navbar ul {
    display: flex;
    justify-content: center;
}

#item-link {
    color: black;
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

#item-link:hover {
    color: #4394d6;
    border: 3px solid #4394d6;
    transition: all 0.3s linear;
}

#nav-list {
    text-align: center;
    padding: 0px;
}

#nav-list li a {
    display: inline-block;
    font-size: 30px;
    width: 250px; 
}   

@media (max-width:950px) {
    #nav-list li a {
        font-size: 25px;
        width: 200px; 
    }
}

@media (max-width:800px) {
    #navbar ul {
        display: grid;
        justify-content: center;
    }

    #item-link {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #nav-list li a {
        width: 500px; 
    }
}

@media (max-width: 600px) {
    #nav-list li a {
        width: 300px; 
    }
}
