body {
    background-image: url(assets/background\(pixel\).png);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    background-color: #00000098;
    height: 3px;
    width: 800px;
    border-radius: 100px;
    border: none;
}

div.logo {
    margin-top: 20px;
    text-align: center;
}

#navbar ul {
    display: flex;
    justify-content: center;
}

#item-link {
    color: black;
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Carter One', cursive;
}

#item-link:hover {
    color: #4394d6;
    border: 3px solid #4394d6;
    transition: all 0.3s linear;
}

#nav-list {
    text-align: center;
    padding: 0px;
}

#nav-list li a {
    display: inline-block;
    font-size: 30px;
    width: 250px; 
} 

#article {
    margin-top: 30px;
    font-family: 'Patrick Hand', cursive;
}

#article h1 {
    font-size: 50px;
}

#article p {
    font-size: 40px;
    width: 800px;
    margin: auto;
}

#title {
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

footer p {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

footer a {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width:950px) {
    #nav-list li a {
        font-size: 25px;
        width: 200px; 
    }
}

@media (max-width:800px) {
    #navbar ul {
        display: grid;
        justify-content: center;
    }

    #item-link {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #nav-list li a {
        width: 500px; 
    }

}

@media (max-width: 600px) {
    #nav-list li a {
        width: 400px; 
    }
}

@media (max-width: 470px) {
    #nav-list li a {
        width: 250px; 
    }
}

@media (max-width: 320px) {
    #nav-list li a {
        width: 160px; 
    }
}
